<%= form_with model: question do |form| %>
  <p class="mt"><%= form.label :body, 'Your question' %></p>
  <p class="mt"><%= form.text_area :body, rows: 5, class: 'form-text-area' %></p>
  <p class="mt"><%= form.label :user_id %></p>
  <p class="mt"><%= form.number_field :user_id, class: 'form-text-area' %></p>
  <p class="mt"><%= form.submit 'Save', class: 'button button-main' %> or <%= link_to 'Back', :back %></p>
<% end %>