<div class="mb-sm ws-pre-line">
  <%= question.body %>
</div>

<div class="text-sm question-footer">
  <div class="text-grey">
    <%= l(question.created_at, format: :short) %>
  </div>

  <div>
    <%= link_to fa_icon('pencil'), edit_question_path(question), title: 'Edit question' %>
    <% unless question.hidden? %>
      <%= button_to fa_icon('eye-slash'), hide_question_path(question),
                    method: :patch, title: 'Hide question',
                    form: { data: { turbo_confirm: 'Are you sure you wanna hide the question?' } } %>
    <% else %>
      <%= button_to fa_icon('eye'), hide_question_path(question),
                    method: :patch, title: 'Reveal question',
                    form: { data: { turbo_confirm: 'Are you sure you wanna make the question visible?' } } %>
    <% end %>
    <%= button_to fa_icon('trash-o'), question_path(question),
                  method: :delete, title: 'Delete question',
                  form: { data: { turbo_confirm: 'Are you sure you wanna delete the question?' } } %>
  </div>
</div>