<div class="mb">
  <p class="text-sm text-grey">
    Question <%= link_to "##{question.id}", question_path(question) %>
    for <%= render 'questions/user', user: question.user %>
    from <%= render 'questions/user', user: question.author %>
  </p>
</div>
<div class="mb-sm ws-pre-line"><%= question.body %></div>

<% if question.answer.present? %>
  <div class="mb-sm text-dark-red">
    <%= (question.answer) %>
  </div>
<% end %>

<% if question.hashtags.any? %>
  <div class="mb-sm text-sm question-tags">
    <% question.hashtags.each do |hashtag| %>
      <%= link_to "##{hashtag.name}", search_path(tag: hashtag.name) %>
    <% end %>
  </div>
<% end %>

<div class="text-sm question-footer">
  <div class="text-grey">
    <%= l(question.created_at, format: :short) %>
  </div>

  <div>
    <% if current_user == question.user %>
      <% unless question.hidden? %>
        <%= button_to fa_icon('eye-slash'), hide_question_path(question),
                      method: :patch, title: 'Hide question',
                      form: { data: { turbo_confirm: 'Are you sure you wanna hide the question?' } },
                      class: 'mr-sm'%>
      <% else %>
        <%= button_to fa_icon('eye'), hide_question_path(question),
                      method: :patch, title: 'Reveal question',
                      form: { data: { turbo_confirm: 'Are you sure you wanna make the question visible?' } },
                      class: 'mr-sm'%>
      <% end %>

      <% edit_icon = (question.answer.present?) ? 'pencil' : 'reply' %>
      <%= link_to fa_icon(edit_icon), edit_question_path(question), title: 'Edit question', class: 'mr-sm' %>
      <%= button_to fa_icon('trash-o'), question_path(question),
                    method: :delete, title: 'Delete question',
                    form: { data: { turbo_confirm: 'Are you sure you wanna delete the question?' } } %>
    <% end %>
  </div>
</div>