<div class="container">
  <h2 class="title-lg mb">Question</h2>
  <p class="mb-sm"><%= @question.body %></p>
  <p>user_id: <b><%= @question.user_id %></b></p>
  <div class="mt">
    <%= link_to fa_icon('pencil'), edit_question_path(@question), title: 'Edit question' %>
    <% if !@question.hidden? %>
      <%= button_to fa_icon('eye-slash'), "/questions/#{@question.id}/hide", method: :patch, title: 'Hide question', form: { data: { turbo_confirm: 'Are you sure you wanna hide the question?' } } %>
    <% end %>
    <%= button_to fa_icon('trash-o'), question_path(@question), method: :delete, title: 'Delete question', form: { data: { turbo_confirm: 'Are you sure you wanna delete the question?' } } %>
  </div>
  <p class="mt"><%= link_to "All questions", questions_path %></p>
</div>
