<div class='user-box'>
  <h2 class='title-lg mt-lg'><%= @user.name %></h2>

  <div class='mt'>
   <%= render partial: 'users/user_avatar', locals: {user: @user} %>
  </div>

  <% if current_user == @user %>
    <p class='mt mb-lg'>
      <%= link_to fa_icon('pencil'), edit_user_path(@user) %>
    </p>
  <% end %>

  <p class='text-bold mt mb-lg'>@<%= @user.nickname %></p>
</div>

<div class='container'>
  <p class='mt'>
    <%= render 'questions/form', question: @question %>
  </p>
</div>

<div class='container mt-sm'>
    <% if @questions.count == 0 %>
      <div class='text-center mt-lg mb-lg'>
        <p class='title-question mt'>?</p>
        <h2 class='title-md text-grey'>I haven't been asked any questions yet</h2>
        <%= link_to 'Ask me', new_question_path(user_id: @user.id), class: 'button button-yellow mt' %>
      </div>
    <% else %>
      <h2 class='title-lg'>
        <%= @questions.count %>
        <%= pluralize(@questions.count, 'question', 'questions') %>
      </h2>
    <% end %>
</div>

<% @questions.each do |question| %>
  <div class='mt-sm container'>
    <%= render 'questions/question', question: question %>
  </div>
<% end %>