<div class="mt">
  <%= form_with model: setting, data: {turbo: false} do |form| %>
    <p><%= form.label :navbar_color, 'Navbar color' %></p>
    <p><%= form.color_field :navbar_color, class: 'form-color-field' %></p>

    <%= form.hidden_field :user_id %>

    <p class="mt-lg">
      <%= form.submit 'Save', class: 'button button-main' %>
      <span class="text-sm">or <%= link_to 'back', :back %></span>
    </p>
  <% end %>
</div>
