<!DOCTYPE html>
<html>
  <head>
    <title>Askme</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Akronim&display=swap" rel="stylesheet">
  </head>

  <body>
    <div class="wrapper">
      <div class="navbar" style="<%= navbar_color_style(current_user) %>" >
        <div>
          <%= link_to 'Ask me!', root_path, class: 'title-sm text-bold' %>
          <% if current_user.present? %>
            <% if current_user.settings.present? %>
              <%= link_to fa_icon('gear'), edit_setting_path(current_user.settings), title: 'Edit settings', class: 'title-sm ml-sm' %>
            <% else %>
              <%= link_to fa_icon('gear'), new_setting_path, title: 'Add settings', class: 'title-sm ml-sm' %>
            <% end %>
          <% end %>
        </div>

        <div>
          <% if current_user.present? %>
            <%= link_to display_nickname(current_user), user_path(current_user),class: 'mr-sm' %>
            <%= button_to 'Log out', session_path, method: :delete, class: 'button button-yellow' %>
          <% else %>
            <%= link_to 'Register', new_user_path, class: 'button button-yellow mr-sm' %>
            <%= link_to 'Log in', new_session_path, class: 'button button-yellow' %>
          <% end %>
        </div>
      </div>

      <% if flash[:notice].present? %>
        <p class="mb mt message message-notice"><%= flash[:notice] %></p>
      <% elsif flash[:alert].present? %>
        <p class="mb mt message message-alert"><%= flash[:alert] %></p>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
